@charset "UTF-8";
@font-face {
  font-family: 'Novecentowide-Light';
  src: url("fonts/288B1C_0_0.eot");
  src: url("fonts/288B1C_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/288B1C_0_0.woff") format("woff"), url("fonts/288B1C_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Expressway';
  src: url("fonts/expressway_rg-webfont.eot");
  src: url("fonts/expressway_rg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/expressway_rg-webfont.woff") format("woff"), url("fonts/expressway_rg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Novecentowide-Light';
  src: url("fonts/288B1C_0_0.eot");
  src: url("fonts/288B1C_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/288B1C_0_0.woff") format("woff"), url("fonts/288B1C_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Normal';
  src: url("fonts/288B1C_2_0.eot");
  src: url("fonts/288B1C_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/288B1C_2_0.woff") format("woff"), url("fonts/288B1C_2_0.ttf") format("truetype"); }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  background-color: #e8e8e8;
  overflow-x: hidden; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin-top: 20px;
  padding: 10px 50px;
  z-index: 1000000;
  border-bottom: 2px solid transparent; }
  .top .logo {
    width: 175px;
    height: 100px;
    float: left;
    background-image: url("../images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat; }

nav {
  float: right;
  position: relative;
  z-index: 100; }
  nav ul {
    clear: both; }
    nav ul li {
      display: inline-block;
      margin-left: 30px; }
      nav ul li a {
        display: inline-block;
        font-size: 17px;
        color: #f4f4f4;
        text-decoration: none;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 0;
        font-family: "Novecentowide-Light";
        -webkit-transition: all 0.25s linear;
        text-shadow: 0px 0px 20px black; }
        nav ul li a:hover {
          color: white;
          border-bottom: 1px solid #f4f4f4;
          padding-bottom: 5px; }
  nav.secondary {
    margin-top: -25px; }

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 630px;
  padding: 50px 100px;
  padding-top: 10px;
  background-position: center top;
  background-size: 100%; }
  header .slogan {
    clear: both;
    color: #f0f0f0;
    position: absolute;
    bottom: 25%;
    z-index: 100;
    width: 1100px;
    text-align: center;
    font-size: 80px;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black; }
    header .slogan small {
      display: inline-block;
      max-width: 330px;
      color: #CFCFCF;
      font-size: 22px;
      line-height: 29px;
      font-weight: 100; }
    header .slogan strong {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 10px;
      font-weight: 100;
      font-size: 75px;
      line-height: 78px;
      color: #FAEAEA;
      background-color: rgba(180, 19, 30, 0.55);
      text-shadow: 1px 1px 1px #58181D; }
  header .social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -125px;
    z-index: 1000; }

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 710px;
  overflow: hidden;
  background-color: #1d1e19; }
  .video-wrapper img {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .video-wrapper video {
    display: none;
    width: 100%; }

h2 {
  color: #252525;
  font-family: "Expressway";
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 40px; }

.gradient-wrapper {
  position: absolute;
  top: 0;
  left: -1200px;
  right: 0;
  height: 710px;
  overflow: hidden; }
  .gradient-wrapper .gradient-top {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .gradient-wrapper .gradient-corner {
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }

.clear {
  clear: both; }

.columns:after {
  content: '';
  display: block;
  clear: both; }
.columns h3 {
  margin: 0; }
.columns.thumbnails {
  padding-top: 25px; }
  .columns.thumbnails > a[class*="column-"] {
    padding-bottom: 15px;
    border-bottom-color: #313131; }
    .columns.thumbnails > a[class*="column-"] .image {
      border: 1px solid #c9c9c9;
      height: 125px;
      overflow: hidden; }
    .columns.thumbnails > a[class*="column-"]:hover .image {
      border-color: #b0b0b0; }
.columns [class*="column-"] {
  float: left; }
  .columns [class*="column-"].column-2 {
    width: 45%;
    margin-right: 5%; }
    .columns [class*="column-"].column-2:last-child {
      width: 50%;
      margin-right: 0; }
    .columns [class*="column-"].column-2 h2 {
      font-size: 55px; }
  .columns [class*="column-"].column-3 {
    width: 28%;
    margin-right: 5%; }
    .columns [class*="column-"].column-3:last-child {
      width: 33%;
      margin-right: 0; }
  .columns [class*="column-"].column-3-2 {
    width: 61%;
    margin-right: 5%; }
    .columns [class*="column-"].column-3-2:last-child {
      width: 66%;
      margin-right: 0; }
  .columns [class*="column-"].column-4 {
    width: 25%; }
  .columns [class*="column-"] p, .columns [class*="column-"] table {
    width: 100%; }
  .columns [class*="column-"] table.calendar {
    width: 60%; }

.centered {
  text-align: center; }

p {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: #313131; }
  p small {
    color: #636363; }
  p.centered {
    margin: 0 auto; }
  p:last-child {
    margin-bottom: 0; }
  p.credits {
    color: gray;
    margin-top: 50px;
    font-style: italic; }
  p.quote {
    color: #494949;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 0; }
    p.quote:before {
      content: "“"; }
    p.quote:after {
      content: "”"; }
    p.quote + .source {
      color: #7b7b7b;
      margin-top: 0;
      font-style: italic; }
      p.quote + .source:before {
        content: "– "; }
    p.quote.full-width {
      font-size: 35px;
      width: 100%;
      text-align: center; }
      p.quote.full-width + .source {
        width: 100%;
        text-align: center; }
    p.quote.large {
      text-align: center;
      font-size: 35px;
      line-height: 40px;
      width: 60%;
      padding: 0 20%; }
  p.label {
    margin: 0;
    font-size: 15px;
    line-height: 10px;
    font-style: italic;
    color: #c9c9c9; }
    p.label:after {
      content: ":"; }
    p.label + .value {
      font-size: 25px;
      line-height: 40px;
      margin: 0;
      margin-bottom: 20px; }
    p.label.large {
      font-size: 20px;
      font-style: normal; }
  p.introductory {
    line-height: 40px;
    font-style: italic; }

a {
  color: #e4001c;
  text-decoration: none;
  border-bottom: 1px solid #e4001c; }
  a:hover {
    color: #990100;
    border-bottom: 1px solid #990100; }
  a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 2px 15px;
    border: 1px solid #e4001c;
    border-radius: 5px;
    -webkit-transition: all .6s ease; }
    a.btn:hover {
      color: #f6f6f6;
      background-color: #b90504;
      border-color: #b90504; }

.btn-group {
  display: block;
  margin-bottom: 15px; }
  .btn-group .label {
    display: block;
    color: #525252;
    font-style: normal;
    width: auto !important;
    line-height: 35px;
    margin-right: 10px; }
  .btn-group a.btn {
    margin-top: 0;
    margin-right: -7px;
    line-height: 35px;
    border-radius: 0; }
    .btn-group a.btn:first-of-type {
      border-radius: 5px 0 0 5px; }
    .btn-group a.btn:last-of-type {
      border-radius: 0 5px 5px 0; }
    .btn-group a.btn:first-of-type:last-of-type {
      border-radius: 5px; }

h3 {
  font-family: "Expressway", sans-serif;
  color: #333333;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 30px; }
  h3 + p {
    margin-top: 10px; }

h4 {
  font-family: "Expressway", sans-serif;
  text-transform: uppercase;
  font-weight: 100; }

.muted {
  color: #c9c9c9; }

table {
  width: 700px;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 20px 0; }
  table td, table th {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0; }
  table th {
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    text-align: left;
    font-style: italic;
    color: #c9c9c9; }
  table.condensed {
    padding: 0; }
    table.condensed td, table.condensed th {
      padding: 0; }
  table.calendar {
    margin-top: -20px;
    font-size: 15px; }
    table.calendar td, table.calendar th {
      padding: 20px;
      text-align: center; }
    table.calendar .marked {
      background-color: #FF6679;
      color: white; }

section {
  position: relative;
  padding: 50px 230px;
  background-color: #f7f7f7;
  z-index: 1000; }
  section.wide {
    padding: 50px; }
  section.frontpage > h3 {
    clear: both;
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 55px; }
  section.frontpage .column-2 {
    width: 44% !important;
    margin: 0;
    padding: 0; }
    section.frontpage .column-2:first-of-type {
      border-right: 1px solid #cecece; }
  section.center {
    text-align: center; }
  section > h3 {
    display: block; }
  section .slogan {
    font-family: "Expressway", sans-serif;
    text-transform: uppercase;
    width: 70%;
    margin: auto;
    font-size: 50px;
    line-height: 70px; }
  section ul {
    margin-bottom: 25px; }
    section ul li {
      list-style-type: none;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0; }
      section ul li:hover {
        border-bottom: 1px solid #e0e0e0; }
      section ul li .caption {
        display: block;
        width: 100%;
        color: #c9c9c9;
        font-size: 15px; }
      section ul li .subtitle {
        display: block;
        font-size: 18px; }
      section ul li a {
        display: block;
        color: #313131;
        border: none; }
  section .image {
    position: relative;
    overflow: hidden; }
    section .image .gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      section .image .gradient.gradient-top-left {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
        /* IE6-9 */
        -webkit-transform: rotate(-55deg);
        left: -65%; }
      section .image .gradient.gradient-left-right {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
        /* IE6-9 */
        -webkit-transform: rotate(-90deg);
        left: -550px; }
    section .image img {
      margin: 0;
      margin-bottom: 50px; }
  section img {
    width: 100%;
    margin: 50px 0; }
    section img + .caption {
      margin: 0;
      margin-top: -50px;
      color: #c9c9c9;
      font-style: italic;
      font-size: 18px;
      line-height: 25px; }
      section img + .caption + .slogan {
        font-family: "Expressway", sans-serif;
        color: #f0f0f0;
        position: absolute;
        z-index: 100;
        text-transform: uppercase;
        width: 90%;
        font-size: 70px;
        line-height: 80px;
        text-shadow: 0px 0px 20px black; }
        section img + .caption + .slogan.medium {
          width: 60%;
          left: 20%;
          font-size: 50px;
          line-height: 70px; }
  section video {
    width: 100%;
    height: auto; }
  section .right {
    float: right;
    max-width: 60%; }
  section aside {
    float: right;
    clear: right;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 2%; }
    section aside p {
      width: 100%; }
    section aside img {
      margin: 0;
      width: 100%; }
      section aside img + .caption {
        margin-top: 0;
        margin-bottom: 0; }
    section aside.left {
      float: left;
      border-left: none;
      margin: 0;
      padding: 2%;
      margin-right: 2%;
      clear: left; }
    section aside.stick-out {
      margin-left: -15%; }
    section aside.wide {
      width: 38%;
      margin-right: -15%; }
    section aside.left.wide {
      margin-right: 2%; }
    section aside.backgrounded {
      padding: 3%;
      background-color: #e6e6e6; }
      section aside.backgrounded > h3:first-child {
        margin-top: 0; }
  section .separator {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dfdfdf;
    clear: both;
    display: block; }
  section.full-width {
    padding: 0; }
    section.full-width > .columns {
      padding: 0 50px; }
    section.full-width .map {
      width: 100%;
      height: 500px; }
    section.full-width .caption {
      margin-left: 230px; }
  section.slideshow {
    padding: 20px 0;
    background-color: #1d1e19;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    section.slideshow:before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 40px;
      margin-top: -50px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      cursor: pointer;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    section.slideshow:after {
      content: "";
      display: block;
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -50px;
      border-right: 1px solid white;
      border-top: 1px solid white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    section.slideshow .image-wrapper {
      width: 100000%;
      margin-left: 100px; }
      section.slideshow .image-wrapper img {
        width: 1000px;
        float: left;
        margin: 0;
        margin-right: 20px; }
      section.slideshow .image-wrapper:after {
        content: "";
        display: block;
        clear: both; }
  section.timeline {
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    section.timeline:before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 60%;
      left: 40px;
      margin-top: -50px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      cursor: pointer;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 10000; }
    section.timeline:after {
      content: "";
      display: block;
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 60%;
      right: 40px;
      margin-top: -50px;
      border-right: 1px solid white;
      border-top: 1px solid white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 10000; }
    section.timeline .lines {
      position: relative;
      width: 100%;
      height: 50px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVQ4T2P8/v37fwYywatXrxgYRw0YDYPRdMBAdl7g4OBg+PHjB/kGwDIv2S5ANgAAnD1tMZrUAnEAAAAASUVORK5CYII=);
      background-color: #EEE; }
      section.timeline .lines .cursor {
        position: absolute;
        width: 2px;
        height: 70px;
        margin-top: -10px;
        margin-left: -2px;
        background-color: #313131;
        z-index: 1000; }
      section.timeline .lines .marker {
        display: block;
        position: absolute;
        width: 50px;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        border-bottom: none;
        border-left: 3px solid #e4001c; }
        section.timeline .lines .marker.selected {
          border-left-width: 3px; }
      section.timeline .lines span.marker {
        margin: 0;
        color: #C5C3C3;
        font-weight: 100;
        border-left: 1px solid #C5C3C3; }
    section.timeline .slides {
      width: 100000000px;
      height: 400px;
      position: relative;
      top: 0; }
      section.timeline .slides .slide {
        position: relative;
        top: 0;
        width: 1400px;
        height: 400px;
        overflow: hidden;
        float: left; }
        section.timeline .slides .slide .background {
          position: absolute;
          top: 0;
          margin: 0; }
        section.timeline .slides .slide .content {
          position: absolute;
          top: 0;
          width: 50%;
          height: 400px;
          padding: 50px;
          padding-left: 100px;
          padding-right: 30%;
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0)));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
          /* IE10+ */
          background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
          /* IE6-9 */ }
          section.timeline .slides .slide .content h3, section.timeline .slides .slide .content p {
            color: #C7C7C7; }
          section.timeline .slides .slide .content h3 {
            color: #e3e3e3;
            font-size: 40px;
            margin-top: 0;
            float: left; }
          section.timeline .slides .slide .content .year {
            float: left;
            font-size: 40px;
            line-height: 28px;
            margin: 0;
            color: #e3e3e3; }
            section.timeline .slides .slide .content .year:before {
              content: ', '; }
          section.timeline .slides .slide .content .description {
            width: 400px; }
          section.timeline .slides .slide .content .location {
            margin-top: 10px;
            font-style: italic;
            clear: both; }
          section.timeline .slides .slide .content a {
            color: #C7C7C7;
            border-bottom-color: #C7C7C7; }
          section.timeline .slides .slide .content .portrait {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            overflow: hidden; }
            section.timeline .slides .slide .content .portrait img {
              width: 100%;
              height: auto;
              margin: 0; }
  section.grid {
    padding: 50px;
    padding-bottom: 20px;
    background-color: #1d1e19;
    overflow: hidden; }
    section.grid.condensed {
      padding: 25px;
      padding-bottom: 0; }
    section.grid > h3:first-child {
      margin-bottom: 20px;
      margin-top: 0;
      color: #D9D9D9;
      font-size: 25px; }
    section.grid .tile {
      cursor: pointer;
      position: relative;
      width: 31.3333%;
      height: 240px;
      margin-right: 2%;
      margin-bottom: 30px;
      float: left;
      background-color: black;
      border-bottom: 0;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      overflow: hidden; }
      section.grid .tile > h3 {
        font-family: "Expressway";
        position: absolute;
        margin: 0;
        color: white;
        font-weight: 100;
        left: 20px;
        bottom: 15px;
        z-index: 1000;
        text-shadow: 0px 0px 10px black;
        padding-bottom: 2px; }
      section.grid .tile.with-slogan h3 {
        bottom: 30px; }
      section.grid .tile.with-slogan p {
        position: absolute;
        left: 20px;
        bottom: 7px;
        z-index: 100;
        color: #aeaeae;
        font-size: 17px; }
      section.grid .tile.with-rollover:hover .rollover {
        top: 0;
        opacity: 0.9; }
      section.grid .tile .rollover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 270px;
        opacity: 0;
        background-color: #990100;
        z-index: 500;
        -webkit-transition: opacity ease-out 0.5s; }
        section.grid .tile .rollover h3, section.grid .tile .rollover h4, section.grid .tile .rollover p, section.grid .tile .rollover a {
          margin: 0;
          color: white;
          margin-left: 20px; }
        section.grid .tile .rollover h3 {
          font-size: 25px;
          margin-top: 20px; }
        section.grid .tile .rollover h4 {
          font-size: 20px;
          color: #FFADAD;
          margin-bottom: 20px; }
        section.grid .tile .rollover a {
          color: #FFADAD;
          margin-top: 40px;
          border-bottom-color: #FFADAD; }
      section.grid .tile .image {
        position: absolute;
        top: 0;
        z-index: 100;
        width: auto;
        height: 270px;
        overflow: hidden;
        -webkit-transition: all ease-out 0.5s; }
        section.grid .tile .image img {
          width: 100%;
          height: auto;
          margin: 0;
          opacity: .9;
          -webkit-transition: opacity .25s ease-out;
          -moz-transition: opacity .25s ease-out;
          -o-transition: opacity .25s ease-out;
          transition: opacity .25s ease-out; }
        section.grid .tile .image.portrait img {
          margin-top: -50px; }
      section.grid .tile:hover img {
        opacity: 1; }
      section.grid .tile:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: red;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }
      section.grid .tile.plain:after {
        background: transparent;
        filter: none; }
  section.strokes {
    padding: 0 50px;
    padding-bottom: 40px;
    background-color: #1d1e19;
    overflow: hidden; }
    section.strokes .stroke {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 300px;
      margin-top: 50px;
      float: left;
      background-color: black;
      border-bottom: 0;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); }
      section.strokes .stroke h3 {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
        color: #A3A3A3;
        z-index: 1000;
        clear: both;
        display: block;
        margin-bottom: 10px; }
      section.strokes .stroke h4 {
        font-family: "Expressway";
        position: absolute;
        margin: 0;
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        color: #D5D5D5;
        font-weight: 100;
        left: 20px;
        bottom: 35px;
        z-index: 100;
        text-shadow: 0px 0px 10px black;
        padding-bottom: 2px;
        -webkit-transform: scale(1);
        -webkit-transform-origin: left bottom;
        -webkit-transition: -webkit-transform 1s ease-out; }
        section.strokes .stroke h4:after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 10px;
          right: -20px;
          border-right: 2px solid white;
          border-top: 2px solid white;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      section.strokes .stroke p {
        position: absolute;
        left: 20px;
        bottom: 10px;
        z-index: 100;
        color: #D5D5D5;
        font-size: 20px;
        margin: 0; }
        section.strokes .stroke p.month {
          text-align: right;
          right: 20px;
          left: auto;
          color: #c1c1c1;
          text-transform: uppercase; }
      section.strokes .stroke .image {
        width: 100%;
        height: 300px;
        position: relative;
        top: 0;
        overflow: hidden; }
        section.strokes .stroke .image img {
          position: relative;
          top: 0;
          width: 100%;
          height: auto;
          margin: 0;
          margin-top: -250px;
          opacity: .7;
          -webkit-transform: scale(1);
          -webkit-transition: opacity .25s ease-out, -webkit-transform 1.5s ease-out; }
      section.strokes .stroke:hover img {
        opacity: 1;
        -webkit-transform: scale(1.05); }
      section.strokes .stroke:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: red;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }
      section.strokes .stroke.plain:after {
        background: transparent;
        filter: none; }
  section.thumbnails {
    padding: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f7f7f7; }
    section.thumbnails .thumbnail {
      cursor: pointer;
      position: relative;
      top: 0;
      width: 31.3333%;
      height: 350px;
      margin-right: 2%;
      margin-bottom: 50px;
      float: left;
      border-bottom: 0; }
      section.thumbnails .thumbnail .image {
        height: 200px;
        margin-top: 40px;
        overflow: hidden; }
        section.thumbnails .thumbnail .image img {
          width: 100%;
          height: auto;
          margin: 0;
          opacity: .9; }
      section.thumbnails .thumbnail h3 {
        color: #c9c9c9;
        position: relative;
        margin: 0;
        font-family: "Novecentowide-Light";
        font-weight: 100;
        padding: 0;
        padding-bottom: 10px; }
        section.thumbnails .thumbnail h3 + .image {
          margin-top: 0; }
      section.thumbnails .thumbnail h4 {
        font-family: "Expressway";
        text-transform: uppercase;
        margin-top: 20px;
        color: #313131;
        font-weight: bold; }
      section.thumbnails .thumbnail p {
        margin-top: 0;
        width: auto; }
      section.thumbnails .thumbnail:hover h4 {
        color: #e4001c; }
  section.circles {
    padding: 0;
    padding-bottom: 50px; }
    section.circles > h2 {
      display: inline-block;
      margin-left: 2%;
      margin-bottom: 30px;
      padding: 5px 10px; }
    section.circles > h3 {
      clear: both;
      margin-left: 2%;
      margin-bottom: 30px;
      padding: 10px 0;
      font-size: 55px; }
    section.circles .circle {
      width: 27%;
      height: 100%;
      float: left;
      position: relative;
      z-index: 10;
      margin-top: -1px;
      padding: 25px 3%;
      padding-bottom: 0;
      color: #313131;
      text-align: center;
      border: 1px solid #DDDDDD;
      border-right: none; }
      section.circles .circle.pushed-in {
        margin-left: 15%; }
      section.circles .circle:last-of-type {
        border-right: 1px solid #DDDDDD; }
      section.circles .circle .image {
        width: 325px;
        height: 325px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 325px;
        overflow: hidden; }
        section.circles .circle .image img {
          width: auto;
          height: 100%;
          margin: 0;
          -webkit-transition: all .7s ease; }
        section.circles .circle .image.portrait img {
          width: 100%;
          height: auto; }
      section.circles .circle h4 {
        font-size: 25px;
        display: inline-block;
        padding: 0 5px; }
      section.circles .circle p {
        margin: 0; }
        section.circles .circle p:first-of-type {
          height: 70px; }
      section.circles .circle .quarter {
        font-size: 18px;
        margin-top: 10px; }
      section.circles .circle .type {
        font-style: italic;
        font-size: 16px;
        color: #979797; }
      section.circles .circle:hover h4 {
        border-bottom: 1px solid #313131; }
      section.circles .circle:hover .image img {
        height: 105%;
        margin-left: -5%; }
      section.circles .circle:hover .image.portrait img {
        width: 105%;
        height: auto; }
    section.circles.small {
      padding-top: 20px;
      padding-bottom: 0; }
      section.circles.small .circle {
        width: 20.75%;
        padding: 40px 2%;
        border-top: none;
        border-bottom: none; }
        section.circles.small .circle:first-of-type {
          border-left: none; }
        section.circles.small .circle:last-of-type {
          border-right: none; }
        section.circles.small .circle .image {
          width: 180px;
          height: 180px;
          border-radius: 180px; }
        section.circles.small .circle p:first-of-type {
          height: 90px; }
    section.circles.horizontal .circle {
      width: 400px;
      padding: 20px 2.5%; }
      section.circles.horizontal .circle .image {
        width: 150px;
        height: 150px;
        float: left; }
      section.circles.horizontal .circle .text {
        width: 250px;
        float: right;
        text-align: right; }
      section.circles.horizontal .circle p:first-of-type {
        height: auto;
        margin-top: 30px;
        color: #c9c9c9; }
  section:after {
    content: '';
    display: block;
    clear: both; }

footer {
  display: relative;
  height: 350px;
  padding: 50px;
  color: #dfdfdf;
  overflow: hidden;
  background-color: #dfdfdf;
  background-image: url("../images/samsinn.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 90% 50px; }
  footer .social {
    float: left;
    clear: left;
    width: 300px;
    margin-top: 25px; }
  footer p {
    width: 40%;
    margin-bottom: 0;
    float: left;
    clear: left; }

.frontpage .icon {
  height: 420px; }
  .frontpage .icon img {
    width: auto; }
  .frontpage .icon.lightbulb .glow {
    position: relative;
    top: -420px; }
  .frontpage .icon.lightbulb:hover .glow {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: fadeOut;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; }
  .frontpage .icon.map {
    position: relative; }
    .frontpage .icon.map img {
      position: relative;
      top: 0;
      z-index: 50; }
    .frontpage .icon.map .dots {
      position: relative; }
    .frontpage .icon.map [class*="dot-"] {
      position: relative;
      width: 10px;
      height: 10px;
      background-color: #e4001c;
      border-radius: 5px;
      z-index: 100;
      -webkit-transform: scale(1);
      -webkit-transition: .5s all ease-in; }
      .frontpage .icon.map [class*="dot-"].dot-1 {
        top: 180px;
        left: 150px; }
      .frontpage .icon.map [class*="dot-"].dot-2 {
        top: 230px;
        left: 230px; }
      .frontpage .icon.map [class*="dot-"].dot-3 {
        top: 195px;
        left: 150px; }
      .frontpage .icon.map [class*="dot-"].dot-4 {
        top: 195px;
        left: 144px; }
    .frontpage .icon.map:hover [class*="dot-"] {
      -webkit-transform: scale(2); }
  .frontpage .icon.couch img:first-child {
    margin-top: 160px; }
  .frontpage .icon.couch .rboss {
    display: none; }

#map {
  width: 1500px;
  height: 500px; }
  #map .leaflet-control {
    display: none; }
  #map .leaflet-popup-close-button {
    border-bottom: none; }
  #map a {
    color: #313131;
    border-bottom-color: #313131; }
  #map + .caption {
    font-style: italic;
    color: #c9c9c9; }
    #map + .caption a {
      color: #c9c9c9;
      border-bottom: 1px solid #c9c9c9; }
      #map + .caption a:hover {
        color: #313131;
        border-bottom: 1px solid #313131; }

#gutenbergstats {
  position: relative;
  width: 100%;
  height: 950px;
  padding: 0;
  background-color: #ece7e6;
  z-index: -10; }
  #gutenbergstats + section {
    width: 30%;
    margin-top: -950px;
    background-color: transparent; }
    #gutenbergstats + section .quote {
      margin-top: 100px;
      margin-bottom: 0; }
      #gutenbergstats + section .quote + .source {
        margin-bottom: 175px; }
    #gutenbergstats + section p {
      margin-bottom: 50px; }
  #gutenbergstats #gutenbergcanvas .axis path,
  #gutenbergstats #gutenbergcanvas .axis line {
    fill: none;
    stroke: #BDBDBD;
    shape-rendering: crispEdges; }
  #gutenbergstats #gutenbergcanvas .y text {
    font: 13px sans-serif; }
  #gutenbergstats #gutenbergcanvas .tick text {
    color: #BDBDBD; }
  #gutenbergstats #gutenbergcanvas .marker {
    stroke: #f88874;
    stroke-width: 2px; }
  #gutenbergstats #gutenbergcanvas text.markerLabel {
    fill: #f88874;
    font-size: 20px; }
  #gutenbergstats #gutenbergcanvas .person {
    fill: #1693A5; }
  #gutenbergstats #gutenbergcanvas text.translations {
    fill: #8FBE00;
    font-size: 15px; }
  #gutenbergstats #gutenbergcanvas path.translations {
    fill: none;
    stroke: #8FBE00;
    stroke-width: 2px; }
  #gutenbergstats #gutenbergcanvas path.faded {
    fill: none;
    stroke-width: 1px;
    stroke: #a6a6a6; }
  #gutenbergstats #gutenbergcanvas text.christians {
    fill: #1693A5;
    font-size: 15px; }
  #gutenbergstats #gutenbergcanvas path.christians {
    fill: none;
    stroke: #1693A5;
    stroke-width: 2px; }
