@charset "UTF-8";
@font-face {
  font-family: 'Expressway';
  src: url("fonts/expressway_rg-webfont.eot");
  src: url("fonts/expressway_rg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/expressway_rg-webfont.woff") format("woff"), url("fonts/expressway_rg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Novecentowide-Light';
  src: url("fonts/288B1C_0_0.eot");
  src: url("fonts/288B1C_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/288B1C_0_0.woff") format("woff"), url("fonts/288B1C_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Normal';
  src: url("fonts/288B1C_2_0.eot");
  src: url("fonts/288B1C_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/288B1C_2_0.woff") format("woff"), url("fonts/288B1C_2_0.ttf") format("truetype"); }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  background-color: #f7f7f7; }

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin-top: 20px;
  padding: 10px 50px;
  z-index: 1000000;
  border-bottom: 2px solid transparent; }
  .top .logo {
    width: 250px;
    height: 100px;
    float: left;
    background-image: url("../images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat; }

nav {
  float: right;
  position: relative;
  z-index: 100; }
  nav ul {
    clear: both; }
    nav ul li {
      display: inline-block;
      margin-left: 30px; }
      nav ul li a {
        display: inline-block;
        font-size: 17px;
        color: #efefef;
        text-decoration: none;
        border-bottom: 1px solid #a4a4a4;
        padding-bottom: 0;
        font-family: "Novecentowide-Light"; }
        nav ul li a:hover {
          color: white;
          border-bottom-color: #efefef; }
        nav ul li a.with-white-bg {
          font-family: "Novecentowide-Normal";
          font-size: 15px;
          color: #474747;
          border: none; }
          nav ul li a.with-white-bg:hover {
            border-bottom: 1px solid #474747; }
  nav.secondary {
    margin-top: -25px; }

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 630px;
  padding: 50px 100px;
  padding-top: 10px;
  background-position: center top;
  background-size: 100%; }
  header h1 {
    font-family: "Expressway", sans-serif;
    color: #f0f0f0;
    position: absolute;
    bottom: 50px;
    z-index: 100;
    width: 400px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
    clear: both;
    word-break: keep-all;
    text-shadow: 0px 0px 20px black; }

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 710px;
  overflow: hidden;
  background-color: #1d1e19; }
  .video-wrapper img {
    width: 100%; }
  .video-wrapper video {
    display: none;
    width: 100%; }

h2 {
  color: #252525;
  font-family: "Expressway";
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 100;
  clear: both;
  margin-bottom: 40px; }

.gradient-wrapper {
  position: absolute;
  top: 0;
  left: -1200px;
  right: 0;
  height: 710px;
  overflow: hidden; }
  .gradient-wrapper .gradient-top {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .gradient-wrapper .gradient-corner {
    display: none;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.clear {
  clear: both; }

.columns:after {
  content: '';
  display: block;
  clear: both; }
.columns [class*="column-"] {
  float: left; }
  .columns [class*="column-"].column-2 {
    width: 45%;
    margin-right: 5%; }
    .columns [class*="column-"].column-2:last-child {
      width: 50%;
      margin-right: 0; }
  .columns [class*="column-"].column-3 {
    width: 28%;
    margin-right: 5%; }
    .columns [class*="column-"].column-3:last-child {
      width: 33%;
      margin-right: 0; }
  .columns [class*="column-"].column-4 {
    width: 25%; }
  .columns [class*="column-"] p, .columns [class*="column-"] table {
    width: 100%; }
  .columns [class*="column-"] table.calendar {
    width: 60%; }

.centered {
  text-align: center; }

p {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: #313131; }
  p small {
    color: #636363; }
  p.centered {
    margin: 0 auto; }
  p:last-child {
    margin-bottom: 0; }
  p.quote {
    color: #494949;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px; }
    p.quote:before {
      content: "“"; }
    p.quote:after {
      content: "”"; }
    p.quote + .source {
      color: #7b7b7b;
      margin-top: 0;
      font-style: italic; }
      p.quote + .source:before {
        content: "– "; }
    p.quote.full-width {
      font-size: 35px;
      width: 100%;
      text-align: center; }
      p.quote.full-width + .source {
        width: 100%;
        text-align: center; }
  p.label {
    margin: 0;
    font-size: 15px;
    line-height: 10px;
    font-style: italic;
    color: #c9c9c9; }
    p.label:after {
      content: ":"; }
    p.label + .value {
      font-size: 25px;
      line-height: 40px;
      margin: 0;
      margin-bottom: 20px; }
    p.label.large {
      font-size: 20px;
      font-style: normal; }

a {
  color: #e4001c;
  text-decoration: none;
  border-bottom: 1px solid #e4001c; }
  a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 2px 15px;
    border: 1px solid #e4001c;
    border-radius: 5px; }
  a:hover {
    color: #b10016;
    border-color: #b10016; }

h3 {
  font-family: "Expressway", Georgia;
  color: #333333;
  font-weight: 100;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px; }
  h3 + p {
    margin-top: 10px; }

.muted {
  color: #c9c9c9; }

table {
  width: 700px;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 20px 0; }
  table td, table th {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0; }
  table th {
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    text-align: left;
    font-style: italic;
    color: #c9c9c9; }
  table.condensed {
    padding: 0; }
    table.condensed td, table.condensed th {
      padding: 0; }
  table.calendar {
    margin: 20px 0;
    font-size: 15px; }
    table.calendar td, table.calendar th {
      text-align: center; }
    table.calendar .marked {
      background-color: #FF6679;
      color: white; }

section {
  position: relative;
  padding: 50px 230px;
  background-color: #f7f7f7;
  z-index: 1000; }
  section.wide {
    padding: 50px; }
  section ul {
    margin-bottom: 25px; }
    section ul li {
      list-style-type: none; }
      section ul li .muted {
        display: inline-block;
        margin-top: 7px;
        margin-right: 10px;
        font-size: 17px;
        float: left; }
      section ul li a {
        display: block;
        padding: 5px 0;
        color: #313131;
        border-bottom: 1px solid #e0e0e0; }
        section ul li a:hover {
          border-bottom: 1px solid #e0e0e0; }
  section img {
    width: 100%;
    margin: 50px 0; }
    section img + .caption {
      margin: 0;
      margin-top: -50px;
      color: #c9c9c9;
      font-style: italic;
      font-size: 18px;
      line-height: 25px; }
      section img + .caption + .slogan {
        font-family: "Expressway", sans-serif;
        color: #f0f0f0;
        position: absolute;
        bottom: 75px;
        left: 230px;
        z-index: 100;
        text-transform: uppercase;
        width: 75%;
        font-size: 80px;
        line-height: 90px;
        text-shadow: 0px 0px 20px black; }
  section video {
    width: 100%;
    height: auto; }
  section .right {
    float: right;
    max-width: 60%; }
  section aside {
    float: right;
    clear: right;
    width: 30%;
    border-left: 1px solid #cecece;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 2%; }
    section aside p {
      width: 100%; }
    section aside img {
      margin: 0;
      width: 100%; }
      section aside img + .caption {
        margin-top: 0;
        margin-bottom: 0; }
    section aside.left {
      float: left;
      border-left: none;
      border-right: 1px solid #cecece;
      margin: 0;
      padding: 2%;
      margin-right: 2%;
      clear: left;
      background-color: #dfdfdf; }
  section .separator {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dfdfdf; }
  section.full-width {
    padding: 0; }
    section.full-width .map {
      width: 100%;
      height: 500px; }
    section.full-width .caption {
      margin-left: 230px; }
  section.slideshow {
    padding: 20px 0;
    background-color: #1d1e19;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    section.slideshow:before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 40px;
      margin-top: -50px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      cursor: pointer;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    section.slideshow:after {
      content: "";
      display: block;
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -50px;
      border-right: 1px solid white;
      border-top: 1px solid white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    section.slideshow .image-wrapper {
      width: 100000%;
      margin-left: 100px; }
      section.slideshow .image-wrapper img {
        width: 1000px;
        float: left;
        margin: 0;
        margin-right: 20px; }
      section.slideshow .image-wrapper:after {
        content: "";
        display: block;
        clear: both; }
  section.grid {
    padding: 50px;
    padding-bottom: 20px;
    background-color: #1d1e19;
    overflow: hidden; }
    section.grid h3:first-child {
      display: block;
      clear: both;
      margin-bottom: 40px;
      margin-top: -50px;
      margin-left: -50px;
      margin-right: -50px;
      padding: 50px;
      padding-left: 230px;
      padding-bottom: 20px;
      background-color: #f7f7f7; }
    section.grid .tile {
      cursor: pointer;
      position: relative;
      width: 31.3333%;
      height: 200px;
      margin-right: 2%;
      margin-bottom: 30px;
      float: left;
      background-color: black;
      border-bottom: 0;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); }
      section.grid .tile h3 {
        font-family: "Expressway";
        position: absolute;
        margin: 0;
        color: #cccccc;
        font-weight: 100;
        left: 20px;
        bottom: 15px;
        z-index: 100;
        text-shadow: 0px 0px 10px black;
        padding-bottom: 2px; }
        section.grid .tile h3:after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 10px;
          right: -20px;
          border-right: 2px solid white;
          border-top: 2px solid white;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      section.grid .tile.with-slogan h3 {
        bottom: 30px; }
      section.grid .tile.with-slogan p {
        position: absolute;
        left: 20px;
        bottom: 7px;
        z-index: 100;
        color: #aeaeae;
        font-size: 17px; }
      section.grid .tile .image {
        width: auto;
        height: 200px;
        overflow: hidden; }
        section.grid .tile .image img {
          width: 100%;
          height: auto;
          margin: 0;
          opacity: .7;
          -webkit-transition: opacity .25s ease-out;
          -moz-transition: opacity .25s ease-out;
          -o-transition: opacity .25s ease-out;
          transition: opacity .25s ease-out; }
      section.grid .tile:hover img {
        opacity: 1; }
      section.grid .tile:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: red;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }
      section.grid .tile.plain:after {
        background: transparent;
        filter: none; }
  section.strokes {
    padding: 0 50px;
    padding-bottom: 40px;
    background-color: #1d1e19;
    overflow: hidden; }
    section.strokes .stroke {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 300px;
      margin-top: 50px;
      float: left;
      background-color: black;
      border-bottom: 0;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); }
      section.strokes .stroke h3 {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
        color: #A3A3A3;
        z-index: 1000;
        clear: both;
        display: block;
        margin-bottom: 10px; }
      section.strokes .stroke h4 {
        font-family: "Expressway";
        position: absolute;
        margin: 0;
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        color: #D5D5D5;
        font-weight: 100;
        left: 20px;
        bottom: 35px;
        z-index: 100;
        text-shadow: 0px 0px 10px black;
        padding-bottom: 2px;
        -webkit-transform: scale(1);
        -webkit-transform-origin: left bottom;
        -webkit-transition: -webkit-transform 1s ease-out; }
        section.strokes .stroke h4:after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 10px;
          right: -20px;
          border-right: 2px solid white;
          border-top: 2px solid white;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      section.strokes .stroke p {
        position: absolute;
        left: 20px;
        bottom: 10px;
        z-index: 100;
        color: #D5D5D5;
        font-size: 20px;
        margin: 0; }
        section.strokes .stroke p.month {
          text-align: right;
          right: 20px;
          left: auto;
          color: #c1c1c1;
          text-transform: uppercase; }
      section.strokes .stroke .image {
        width: 100%;
        height: 300px;
        position: relative;
        top: 0;
        overflow: hidden; }
        section.strokes .stroke .image img {
          position: relative;
          top: 0;
          width: 100%;
          height: auto;
          margin: 0;
          margin-top: -250px;
          opacity: .7;
          -webkit-transform: scale(1);
          -webkit-transition: opacity .25s ease-out, -webkit-transform 1.5s ease-out; }
      section.strokes .stroke:hover img {
        opacity: 1;
        -webkit-transform: scale(1.05); }
      section.strokes .stroke:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: red;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }
      section.strokes .stroke.plain:after {
        background: transparent;
        filter: none; }
  section.thumbnails {
    padding: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f7f7f7; }
    section.thumbnails .thumbnail {
      cursor: pointer;
      position: relative;
      top: 0;
      width: 31.3333%;
      height: 350px;
      margin-right: 2%;
      margin-bottom: 50px;
      float: left;
      border-bottom: 0; }
      section.thumbnails .thumbnail .image {
        height: 200px;
        margin-top: 40px;
        overflow: hidden; }
        section.thumbnails .thumbnail .image img {
          width: 100%;
          height: auto;
          margin: 0;
          opacity: .9; }
      section.thumbnails .thumbnail h3 {
        color: #c9c9c9;
        position: relative;
        margin: 0;
        font-family: "Novecentowide-Light";
        font-weight: 100;
        padding: 0;
        padding-bottom: 10px; }
        section.thumbnails .thumbnail h3 + .image {
          margin-top: 0; }
      section.thumbnails .thumbnail h4 {
        font-family: "Expressway";
        text-transform: uppercase;
        margin-top: 20px;
        color: #313131;
        font-weight: bold; }
      section.thumbnails .thumbnail p {
        margin-top: 0;
        width: auto; }
      section.thumbnails .thumbnail:hover h4 {
        color: #e4001c; }
  section.circles {
    padding: 0;
    padding-bottom: 50px; }
    section.circles .circle {
      width: 23%;
      height: 100%;
      float: left;
      margin-top: -1px;
      padding: 0 5%;
      padding-bottom: 55px;
      padding-top: 55px;
      color: #313131;
      text-align: center;
      border: 1px solid #DDDDDD;
      border-right: none; }
      section.circles .circle.pushed-in {
        margin-left: 15%; }
      section.circles .circle:last-of-type {
        border-right: 1px solid #DDDDDD; }
      section.circles .circle .image {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 250px;
        overflow: hidden; }
        section.circles .circle .image img {
          width: auto;
          height: 100%;
          margin: 0;
          -webkit-transition: all .7s ease; }
      section.circles .circle h4 {
        font-size: 25px;
        display: inline-block;
        border-bottom: 1px solid transparent; }
      section.circles .circle p {
        margin: 0; }
        section.circles .circle p:first-of-type {
          height: 70px; }
      section.circles .circle .quarter {
        font-style: italic;
        font-size: 18px;
        color: #646464;
        margin-top: 10px; }
      section.circles .circle:hover h4 {
        border-bottom: 1px solid #313131; }
      section.circles .circle:hover img {
        height: 105%;
        margin-left: -5%; }
  section:after {
    content: '';
    display: block;
    clear: both; }

footer {
  display: relative;
  height: 350px;
  padding: 50px;
  color: #dfdfdf;
  overflow: hidden;
  background-color: #dfdfdf;
  background-image: url("../images/samsinn.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 90% 50px; }
  footer p {
    width: 40%;
    margin-bottom: 0;
    float: left;
    clear: left; }

.frontpage .icon {
  height: 420px; }
  .frontpage .icon img {
    width: auto; }
  .frontpage .icon.lightbulb .glow {
    position: relative;
    top: -420px; }
  .frontpage .icon.lightbulb:hover .glow {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: fadeOut;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; }
  .frontpage .icon.map {
    position: relative; }
    .frontpage .icon.map img {
      position: relative;
      top: 0;
      z-index: 50; }
    .frontpage .icon.map .dots {
      position: relative; }
    .frontpage .icon.map [class*="dot-"] {
      position: relative;
      width: 10px;
      height: 10px;
      background-color: #e4001c;
      border-radius: 5px;
      z-index: 100;
      -webkit-transform: scale(1);
      -webkit-transition: .5s all ease-in; }
      .frontpage .icon.map [class*="dot-"].dot-1 {
        top: 180px;
        left: 150px; }
      .frontpage .icon.map [class*="dot-"].dot-2 {
        top: 230px;
        left: 230px; }
      .frontpage .icon.map [class*="dot-"].dot-3 {
        top: 195px;
        left: 150px; }
      .frontpage .icon.map [class*="dot-"].dot-4 {
        top: 195px;
        left: 144px; }
    .frontpage .icon.map:hover [class*="dot-"] {
      -webkit-transform: scale(2); }
  .frontpage .icon.couch img:first-child {
    margin-top: 160px; }
  .frontpage .icon.couch .rboss {
    display: none; }
