$backgroundColor: #f7f7f7;
$highlightColor: #e4001c;
$faded: #A1A1A1;
$border: #CECECE;

body, h1, h2, h3, h4, h5, h6, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	// font-family: "Georgia", serif ; 
	font-weight: 300;

	font-size: 20px;
	line-height: 32px;
	background-color: $backgroundColor;
}

h1, h2, nav ul li {
	font-weight: 100;
	// text-transform: uppercase;
}

header {

	position: relative;
	z-index: 0;

	// height: 630px;
	height: 630px;

	padding: 50px 100px;
	padding-top: 30px;

	background-image: url('header.jpg');
	background-position: center top;
	background-size: 100%;

	.logo {
		width: 250px;
		height: 100px;

		float: left;
		background-image: url('logo.png') ;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	h1, h2 {
		font-size: 30px;
		color: white;
	}

	h1 {
		float: left;

		.highlighted {
			color: $highlightColor;
		}
	}

	h2 {
		position: relative;
		z-index: 100;

		margin-top: 590px;
		font-size: 70px;
		font-weight: 100;
		clear: both;
	}


	nav {
		float: right;
		padding-top: 20px;

		ul li {

			display: inline-block;
			margin-right: 30px;

			a {
				font-size: 20px;
				color: white;
				text-decoration: none;
				border: none;
	
				&:hover {
					color: white;
					border-bottom: 1px solid white;
				}
			}

		}
	}

}

.gradient {
	height: 200px;
	position: absolute;
		top: 510px;
		left: 0;
		right: 0;
	z-index: 50;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

}

p {

	width: 700px;
	font-family: "HelveticaNeue-Light", sans-serif;
	color: #313131;

	& + p {
		margin-bottom: 50px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.quote {

		color: #494949;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;

		// font-style: italic;

		&:before {
			content: "“";
		}

		&:after {
			content: "”";
		}

		& + .source {
			color: #7b7b7b;
			margin-top: 0;
			font-style: italic;

			&:before {
				content: "– ";
			}
		}
	}

	&.label {
		margin: 0;
		font-size: 15px;
		line-height: 10px;
		font-style: italic;

		color: $faded;

		&:after {
			content: ":"
		}
	
		& + .value {
			font-size: 25px;
			line-height: 40px;

			margin: 0;
			margin-bottom: 20px;
		}
	
	}

}

a {
	color: $highlightColor;
	text-decoration: none;
	border-bottom: 1px solid $highlightColor;

	&.btn {

		display: inline-block;

		margin-top: 10px;
		padding: 2px 15px;

		border: 1px solid $highlightColor;
		border-radius: 5px;

	}

	&:hover {
		color: darken($highlightColor, 10%);
		border-color: darken($highlightColor, 10%);
	}

}

h3 {
	display: inline-block;
	margin-top: 30px;

	&:first-of-type {
		margin-top: 0;
	}
}

table {

	width: 700px;
	padding: 20px 0;

	td, th {
		font-size: 16px;
		line-height: 25px;
		border-bottom: 1px solid #e0e0e0;

		&:first-child {
			width: 350px;
		}
	}

	th {
		border-bottom: 1px solid $border;
		font-weight: 100;
		text-align: left;
		font-style: italic;
		color: $faded;
	}

}

section {

	position: relative;
	padding: 50px 100px;

	aside {
		float: right;
		clear: right;
		width: 300px;
		border-left: 1px solid $border;
		padding-left: 25px;

		p {
			width: 100%;
		}

		img {
			width: 100%;

			& + .caption {
				margin: 0;
				color: $faded;
				font-style: italic;
				font-size: 14px;
				line-height: 14px;
			}
		}

	}

	&.full-width {
		padding: 0;

		.map {
			width: 100%;
			height: 500px;
		}
	}

	&.grid {

		margin: 50px 0;
		padding: .5% 0 .1%;
		background-color: #1d1e19;

		.tile {

			cursor: pointer;

			position: relative;

			width: 33.1333%;
			height: 170px;

			margin-left: .2%;
			margin-bottom: .2%;

			overflow: hidden;
			float: left;

			background-color: black;

			h3 {
				position: absolute;

				color: white;
				font-weight: 100;

				left: 20px;
				bottom: 10px;

				z-index: 100;
			}

			img {
				width: 100%;
				height: auto;

				opacity: .75;

				-webkit-transition: opacity .25s ease-out;
				   -moz-transition: opacity .25s ease-out;
					 -o-transition: opacity .25s ease-out;
						transition: opacity .25s ease-out;


				&:hover {
					opacity: 1;
				}
			}
		}

	}

	&:after {
		content:'';
		display:block;
		clear: both;
	}

}

footer {
	padding: 50px 100px;
	color: #dfdfdf;
	background-color: #707070;
}