<!doctype html>
<html>
  <head>
    <title>{{ page.title }} – YWAM Amsterdam</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  </head>

  <body>

    <div class="top">

      <!-- <div class="logo"></div> -->

      <nav>

        <ul class="primary">
          <li><a href="/index.html">Welcome</a></li>
          <li><a href="/ministries.html">Ministries</a></li>
          <li><a href="/training.html">Training</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/donate.html">Donate</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/sandbox.html">Sandbox</a></li>
        </ul>

      </nav>

    </div>

    <header>

      <h1>{{ page.slogan }}</h1>

      <div class="gradient-wrapper">
        <div class="gradient-top"></div>
        <div class="gradient-corner"></div>
      </div>

    </header>

    <div class="video-wrapper">

      <video autoplay="autoplay" loop="true" muted="true">
        <source src="covers/{{page.cover}}.3gp" type="video/mp4" />
        Your browser does not support the video. Jerk.
      </video>

      <img src="covers/{{page.cover}}.jpg">

    </div>

    {{ content }}

    <footer>

      <p>YWAM Amsterdam exists to be a Jesus-focused catalyst for transformation in Amsterdam and an innovative center for world missions.</p>

      <p><small>YWAM Amsterdam &copy; 2013</small></p>

    </footer>

    <script src="{{site.baseurl}}/js/jquery.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>

  </body>

</html>