<!doctype html>
<html>
  <head>

    <title>{{ page.title }} – YWAM Amsterdam</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">

  </head>

  <body>

    <div class="top">

      <div class="logo"></div>

      <nav>

        <ul class="primary">
          <li><a href="/index.html">Welcome</a></li>
          <li><a href="/ministries.html">Ministries</a></li>
          <li><a href="/training.html">Training</a></li>
          <li><a href="/donate.html">Get Involved</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>

      </nav>

    </div>

    <header>

      <div class="slogan">{{ page.slogan }}</div>

      <div class="social">

        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fywamamsterdam&amp;width=80px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=354857384649595" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>

        <a href="https://twitter.com/ywamamsterdam" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @ywamamsterdam</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
<!-- 
      <div class="gradient-wrapper">
        <div class="gradient-top"></div>
        <div class="gradient-corner"></div>
      </div>
 -->
    </header>

    <div class="video-wrapper">

      <video autoplay="autoplay" loop="true" muted="true">
        <source src="covers/{{page.cover}}.3gp" type="video/mp4" />
        Your browser does not support html5 video.
      </video>

      <img src="covers/{{page.cover}}.jpg">

    </div>

    {{ content }}

    <footer>

      <p>YWAM Amsterdam exists to be a Jesus-focused catalyst for transformation in Amsterdam and an innovative center for world missions.</p>

      <div class="social">

        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fywamamsterdam&amp;width=80px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=354857384649595" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>

        <a href="https://twitter.com/ywamamsterdam" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @ywamamsterdam</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>

      <p><small>YWAM Amsterdam &copy; 2013</small></p>


    </footer>

    <script src="{{site.baseurl}}/js/jquery.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>

  </body>

</html>